.Dado-recuadro{
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 4px
}
.craps-container{
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: darkcyan;
    width: 80%;
}
.dados-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-lanzar{
    border-radius: 20px;
    background: lightcoral;
    width: 100px;
    height: 100px;
}