.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mantenimiento{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: yellow;
  color: red;
  border-radius: 20px;
  width: 80%;
  height: 100px;
}
